body{/*свойства для всего содержимого*/
    margin: 0;/*убираем внешний отступ*/
    font-family:  'Roboto', sans-serif;/*указываем шрифты*/
    font-size: 14px;/*размер шрифта*/
    line-height: 1.6;/*интевал между буквами*/
    color: rgb(245, 238, 238);/*цвет текста*/
    background-color: #e3dede;/*цвет фона*/
    }

*,
*:before
*:after{
    box-sizing: border-box;/*не учитываются отсупы*/
    }
    
h1, h2, h3, h4, h5, h6 {
margin: 0;/*убирает отступы у всех заголовков*/
}
    
img{ /*св-ва для картинок*/
    margin: 0;/*убираем внешние отступы*/
    }

li{/*св-ва для списков*/
    padding-bottom: 10px; /*отсуп снизу между эл списка*/
}
